[Unit]
Description=SolarBuffer rescue timer (controleert elke 10 minuten)

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
